<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    
</head>
<body>
    {{>menu}}

    <div style="color: blue">{{welcomeMessage}}</div>

    {{>form}}

    <div>The temperature is {{temp}}</div>
    <div>The summary is {{summary}}</div>
    {{{icon}}}
</body>
</html>